div {
    color: green;
}

#top {
   color: blue;
   
}


Zalupa {
  color: #ff1f50;


 {
    color: blue;
}


h1{

    color: azure;
}

h2 {
    color: #ff1f50;
}


ul {
    color: bisque;
}
